@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="assets/img/hero-bg-Photoroom.jpg" alt="" data-aos="fade-in">

        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h2>Krishirajsinh Vansia</h2>
            <p>I'm <span class="typed" data-typed-items="MERN Developer,ASP.net core MVC Developer, Flutter Developer">Full Stack Web Developer</span><span class="typed-cursor typed-cursor--blink"></span></p>
            <div class="social-links">
                <a href="https://github.com/krishiraj123">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/krishirajsinh-vansia-b97139263/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJTHVwsbKrmVRPTNPHNPVMhFzhpHjWJvrWvjrtbmzKwdtHbqNhxMkNbNGsZlgvSPSNCkfvq">
                    <i class="bi bi-envelope-at"></i>
                </a>
                <a href="https://www.instagram.com/krishiraj123/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </section><!-- /Hero Section -->
</main>