<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Resume</h1>
                        <p class="mb-0">Explore my journey and skills. From full-stack web development to mobile app expertise, see how my adaptability and continuous learning drive impactful solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="current">Resume</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

        <div class="container">

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Objective</h3>

                    <div class="resume-item pb-0">
                        <h4>Krishirajsinh Vansia</h4>
                        <p>
                            <em>
                                Hi, I'm Krishirajsinh Vansia! I'm a full-stack web developer and mobile app developer skilled in building efficient and user-friendly applications. I work with a variety of tools and frameworks, including Flutter for mobile apps.
                                I’m quick to learn and adapt to new technologies to keep up with the latest trends. Collaboration and learning are at the heart of my work—I love working with others to build great products.
                            </em>
                        </p>
                        <ul>
                            <li>Rajkot,Gujarat, IND</li>
                            <li>+91 9426557016</li>
                            <li>krishirajvansia123@gmail.com</li>
                        </ul>
                    </div><!-- End Resume Item -->

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>BTech Computer Science &amp; Engineering</h4>
                        <h5>2022 - 2026</h5>
                        <p>
                            <em>Darshan University, Rajkot, Gujarat, IND</em>
                        </p>
                        <p>
                            <b>CGPA: 9.07</b>
                        </p>
                    </div><!-- Edn Resume Item -->

                    <div class="resume-item">
                        <h4>High School</h4>
                        <h5>2020 - 2022</h5>
                        <p>
                            <em>Amity School, Bharuch, Gujarat, IND</em>
                        </p>
                        <p>
                            <b>Grade Class 12th: 87%</b>
                        </p>
                    </div><!-- Edn Resume Item -->

                    <h3 class="resume-title">Skills</h3>
                    <div class="resume-item">
                        <ul>
                            <li><b>Languages:</b> Python, Java, C#, JavaScript, Dart</li>
                            <li><b>Frontend Development:</b> HTML, CSS, JavaScript, React, .NET, Flutter</li>
                            <li><b>Backend Development:</b> Node.js, Express, asp.net</li>
                            <li><b>Database:</b> MySQL, MongoDB, Postgres, MSSQL</li>
                            <li><b>Soft Skills:</b> Adaptive, Collaborative, Avid Learner, Time Management</li>
                        </ul>
                    </div><!-- Edn Resume Item -->

                    <h3 class="resume-title">Languages</h3>
                    <div class="resume-item">
                        <ul>
                            <li><b>English:</b> Fluent</li>
                            <li><b>Hindi:</b> Fluent</li>
                            <li><b>Gujarati:</b> Native</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

                    <h3 class="resume-title">Projects</h3>
                    <div class="resume-item">
                        <h4>PAST PRICE</h4>
                        <p>
                            <em>Facilitates price monitoring for all your beloved products.</em>
                        </p>
                        <ul>
                            <li>
                                Automatically update users on the lowest and highest
                                prices recorded for each product with an accuracy of 95%
                                or higher
                            </li>
                            <li>
                                Enables users to set price alerts and receive notifications
                                when prices drop or rise.
                            </li>
                            <li>
                                Assist users in purchasing the products and avoiding high
                                prices.
                            </li>
                        </ul>
                        <p>
                            <em>Technologies used are React, javascript, Mongodb, Node, Express, Web-Scrapper, Zod, Nodemailer etc.</em>
                        </p>
                    </div>

                    <div class="resume-item">
                        <h4>EXPIRY REMINDER</h4>
                        <p>
                            <em>Assists in monitoring the expiration dates of all products.</em>
                        </p>
                        <ul>
                            <li>Notifies users in advance of upcoming expirations.</li>
                            <li>Ensures timely consumption or replacement.</li>
                            <li>Facilitates efficient inventory management</li>
                            <li>Enhances product freshness and safety.</li>
                            <li>Helps avoid product wastage.</li>
                        </ul>
                        <p>
                            <em>Technologies used are Flutter, Dart, Permission Handler etc.</em>
                        </p>
                    </div><!-- Edn Resume Item -->

                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Teaching Assistant</h4>
                        <h5>Nov-2023 to Apr-2024</h5>
                        <p>
                            <em>Darshan University, Gujarat, IND </em>
                        </p>
                        <ul>
                            <li>Instructed over 100 students in MS SQL, covering core concepts and practical applications</li>
                            <li>Guided students through the semester, providing support on challenging topics and assignments</li>
                            <li>Designed and delivered comprehensive lessons, focusing on building a strong foundational understanding</li>
                            <li>Mentored students to achieve academic success, with many demonstrating notable improvement in SQL skills</li>
                        </ul>
                    </div><!-- Edn Resume Item -->

                </div>

            </div>

        </div>

    </section><!-- /Resume Section -->

</main>