<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<footer id="footer" class="footer dark-background">
    <div class="container">
        <h3 class="sitename">Let's Connect</h3>
        <p>Connect with me through any of the links below—I’d love to hear from you!</p>
        <div class="social-links d-flex justify-content-center">
            <a href="https://x.com/Krishiraj123"><i class="bi bi-twitter-x"></i></a>
            <a href="https://github.com/krishiraj123">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/krishirajsinh-vansia-b97139263/">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJTHVwsbKrmVRPTNPHNPVMhFzhpHjWJvrWvjrtbmzKwdtHbqNhxMkNbNGsZlgvSPSNCkfvq">
                <i class="bi bi-envelope-at"></i>
            </a>
            <a href="https://www.instagram.com/krishiraj123/">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="tel:+91-9426557016">
                <i class="bi bi-telephone"></i>
            </a>
        </div>
        <div class="container">
            <div class="copyright">
                <span>&copy; Copyright</span> <strong class="px-1 sitename">Krishirajsinh vansia</strong> <span>All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>